<div class="text-center">




<h1>Listing Portfolios</h1>

<a href="portfolio/new"> Create New Item </a></br><br>

<!-- <%= link_to "Create New Item", new_portfolio_path %> </a></br><br>
<%= new_portfolio_path %> </a></br><br>
<%= new_portfolio_url %> </a></br><br> -->


<%= render partial: 'portfolio', collection: @portfolios %>




<div class="album text-muted">
  <div class="container">
      <div class="row">
          <div class="card">
            <% @portfolios.each do |portfolio_item| %>
            <%= image_tag portfolio_item.main_image unless portfolio_item.main_image.nil? %>
            <span class="card-text">  <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item)  %> </span> <%= portfolio_item.subtitle %>
            <% end %>
          </div>
      </div>
  </div>
</div>




<br>
