<h1 class="text-center"> Show Page </h1>
<br><br>
<!-- <%= @portfolio.inspect %> <br> -->
<!-- <%= image_tag @portfolio.main_image unless @portfolio.main_image.nil?  %> <br>
<%= image_tag @portfolio.thumb_image unless @portfolio.thumb_image.nil?  %> <br>
<%= @portfolio.title %> <br>
<%= @portfolio.subtitle %> <br>
<%= @portfolio.body%> <br> -->




<!-- <div class="col-sm-8 blog-main">
  <h2><%= @portfolio.title %></h2>

  <%= link_to "Edit", edit_portfolioo_path(@portfolio) if logged_in?(:site_admin) %>

  <p>
    <%= @portfolio.body %>
  </p>

</div> -->


<div class="container">
 <div class="row">
  <div class="col-md-3">
    <%= image_tag @portfolio.main_image unless @portfolio.main_image.nil?  %>
  </div>
  <div class="col-md-3">
    <%= image_tag @portfolio.thumb_image unless @portfolio.thumb_image.nil?  %>
  </div>
  <div class="col-md-6">
    <h1><%= @portfolio.title %></h1>

    <hr>

    <em><%= @portfolio.subtitle %></em>

    <hr>

    <p> <%= @portfolio.body %> </p>

    <hr>

    <%= link_to "Edit", edit_portfolioo_path(@portfolio) if logged_in?(:site_admin) %>
    <%= link_to "Delete", portfolioo_path(@portfolio), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
  </div>
 </div>
</div>
