<div class="<%= location %>">
    <div><%= link_to "Home", portfolio_path %></div>
    <div><%= link_to "About", portfolio_path %></div>
    <div><%= link_to "Contact", portfolio_path %></div>
    <div><%= link_to "Blog", portfolio_path %></div>
    <div><%= link_to "Portfolio", portfolio_path %></div>
</div>
